{% extends "layout.html" %}
{% block body%} 
		
		<!--about-part start-->
		<section class="about-part">
			<div class="container">
				<div class="about-part-details text-center"> 
					<h2>about us</h2>
					<div class="about-part-content">
						<div class="breadcrumbs">
							<div class="container">
								<ol class="breadcrumb">
								  <li><a href="index.html">home</a><span>//</span></li>
								  <li><a href="about.html">about</a></li>
								</ol><!--/.breadcrumb-->
							</div><!--/.container-->
						</div><!--/.breadcrumbs-->
					</div><!--/.about-part-content-->
				</div><!--/.about-part-details-->	
			</div><!--/.container-->

		</section><!--/.about-part-->
		<!--about-part end-->

		<!--about-history start-->
		<div class="about-history">
			<div class="container">
				<div class="about-history-content">

					<div class="row">

						<div class="col-md-5 col-sm-12">
							<div class="single-about-history">
								<div class="about-history-img">
									<img src="{{ url_for('static', filename='assets/images/about/ab1.jpg')}}" alt="about">
								</div><!--/.about-history-img-->
							</div><!--/.single-about-history-->
						</div><!--/.col-->

						<div class="col-md-offset-1 col-md-6 col-sm-12">
							<div class="single-about-history">
								<div class="about-history-txt">
									<h2>Why Provisca Technology</h2>
									<p>
										We are all for transperancy and effectiveness

Your involvement will be 100% so that you will be aware of every strategies we apply for your business growth

We form a range of necessary search marketing activities to match your business objectives.

We guarantee 100% transperancy, 24/7 service and support.

									</p>

									 
											
								</div><!--/.about-history-txt-->
							</div><!--/.single-about-history-->
						</div><!--/.col-->

					</div><!--/.row-->
					<div class="row">

						<div class="about-vission-content">

							<div class="col-md-6 col-sm-12">
								<div class="single-about-history">
									<div class="about-history-txt">
										<h2>vision and mission</h2>

										<div class="main-timeline  xtra-timeline">

											<div class="row">
												<div class="col-sm-12">
													<div class="timeline timeline-ml-20">
														
														<div class="timeline-content">
															<h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
															
															<ul class="description">
																<li>In the business of Web applications and Digital Marketing from last 3 years.</li>

															</ul>
														</div><!--/.timeline-content-->
													</div><!--/.timeline-->
												</div><!--/.col-->
											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-12">
													<div class="timeline timeline-ml-20">
														
														<div class="timeline-content">
															<h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
															
															<ul class="description">
																<li>Designed and developed website and android applications for different industries like Hotels, educational institutes, Construction companies, Automobile sector etc.</li>

															</ul>
														</div><!--/.timeline-content-->
													</div><!--/.timeline-->
												</div><!--/.col-->
											</div><!--/.row-->

											<div class="row">
												<div class="col-sm-12">
													<div class="timeline timeline-ml-20">
														
														<div class="timeline-content">
															<h4 class="title"> <span><i class="fa fa-circle-o" aria-hidden="true"></i></span></h4>
															
															<ul class="description">
																<li>On the mission of building digital platforms to all sectors.</li>

															</ul>
														</div><!--/.timeline-content-->
													</div><!--/.timeline-->
												</div><!--/.col-->
											</div><!--/.row-->
										</div><!--.main-timeline-->
									</div><!--/.about-history-txt-->
								</div><!--/.single-about-history-->
							</div><!--/.col-->

							<div class="col-md-offset-1 col-md-5 col-sm-12">
								<div class="single-about-history">
									<div class="about-history-img">
										<img src="{{ url_for('static', filename='assets/images/about/ab2.jpg')}}" alt="about">
									</div><!--/.about-history-img-->
								</div><!--/.single-about-history-->
							</div><!--/.col-->
						</div><!--/.about-vission-content-->
					</div><!--/.row-->
				</div><!--/.about-history-content-->
			</div><!--/.container-->

		</div><!--/.about-history-->
		<!--about-history end-->

	
	
		
		
		
		
{% endblock%}